.callback {
  background: none;
}

.callback_work-steps {
  background: url("../img/pod_kluch_bg.png") bottom -250px center/cover no-repeat;
}

.contacts {
  background: none;
}

.footer_bottom ul li + li {
  text-align: right;
}

@media all and (min-width: 1200px) {
  .container {
    max-width: 1200px;
  }
  .pic_box_1 {
    background-repeat: no-repeat;
  }
  .phone {
    font-size: 24px;
  }
  .callback-block-item {
    max-width: 63%;
    -webkit-box-flex: 0;
        -ms-flex: 0 0 63%;
            flex: 0 0 63%;
  }
  .about {
    /*margin-top: 50px;
    .box_bages {
        height: 138px;
    }*/
  }
  .about .pic_box_1 {
    background-size: cover;
  }
  header .container {
    max-width: 1300px;
  }
}
@media all and (min-width: 981px) {
  .service_box .right img {
    max-width: 100%;
  }
  .service_box .left {
    padding-right: 5px;
  }
}
/*@media all and (max-width: 980px) {
    .modal-title {

        .phone {
            font-size: 16px;
        }
    }
}*/
.menu_main li a {
  font-size: 18px;
  color: rgba(0, 0, 0, 0.8);
  -webkit-transition: all 0.2s ease;
  transition: all 0.2s ease;
  font-family: "Manrope", sans-serif;
}
.menu_main li a:hover {
  font-weight: 600;
  color: #000;
  text-decoration: none;
}

body .site-header {
  background: #f6f6f6;
  border-bottom: 1px solid #DCDCDC;
  position: sticky;
  top: 0;
  z-index: 101;
}
@media all and (max-width: 600px) {
  body .site-header {
    padding-right: 10px;
  }
  body .site-header .img-fluid {
    max-width: 74px;
  }
}
@media all and (max-width: 980px) {
  body .site-header__left {
    -webkit-box-flex: unset;
        -ms-flex: unset;
            flex: unset;
    max-width: 100%;
    width: auto;
  }
}
@media all and (max-width: 980px) {
  body .site-header__right {
    max-width: 100%;
    width: auto;
    margin-left: auto;
    -webkit-box-flex: 1;
        -ms-flex: auto;
            flex: auto;
  }
  body .site-header__right .col-6 {
    -webkit-box-flex: 1;
        -ms-flex: auto;
            flex: auto;
    max-width: 100%;
  }
}
body .site-header .menu_main {
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}
@media all and (max-width: 980px) {
  body .site-header .burger {
    display: -webkit-inline-box !important;
    display: -ms-inline-flexbox !important;
    display: inline-flex !important;
    gap: 5px;
    font-size: 12px;
    line-height: 14px;
    letter-spacing: -0.3px;
    color: #000;
  }
}

.header-socials {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  gap: 10px;
}
@media all and (max-width: 980px) {
  .header-socials {
    display: none;
  }
}
.header-socials__item {
  width: 41px;
  height: 41px;
  min-width: 41px;
  border-radius: 6px;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
  background: #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-size: 0;
  text-decoration: none;
  margin: 0 !important;
}
.header-socials__item svg path {
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}
.header-socials__item.tg-btn:hover {
  background: #007ADD;
}
.header-socials__item.tg-btn:hover svg path {
  fill: #fff;
}
.header-socials__item.wa-btn:hover {
  background: #07DD00;
}
.header-socials__item.wa-btn:hover svg path {
  fill: #fff;
}

@media all and (max-width: 480px) {
  .mobile_box {
    max-width: 90%;
  }
}
.mobile_box .downl_bt {
  border-radius: 8px;
  -webkit-box-shadow: 0px 7.14px 28.56px 0px rgba(221, 3, 3, 0.2509803922), 0px 0px 22.17px 0px rgba(255, 255, 255, 0.4509803922) inset;
          box-shadow: 0px 7.14px 28.56px 0px rgba(221, 3, 3, 0.2509803922), 0px 0px 22.17px 0px rgba(255, 255, 255, 0.4509803922) inset;
  padding: 13px 22px 12px;
  font-size: 12px;
  height: auto;
}

.header-right-items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  gap: 23px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
@media all and (max-width: 640px) {
  .header-right-items {
    gap: 20px;
  }
}
.header-right-items .download-btn {
  margin-right: 20px;
}
@media all and (max-width: 980px) {
  .header-right-items .download-btn {
    display: none;
  }
}
.header-right-items .download-btn a.downl_bt {
  border-radius: 8px;
  -webkit-box-shadow: 0px 7.14px 28.56px 0px rgba(221, 3, 3, 0.2509803922), 0px 0px 22.17px 0px rgba(255, 255, 255, 0.4509803922) inset;
          box-shadow: 0px 7.14px 28.56px 0px rgba(221, 3, 3, 0.2509803922), 0px 0px 22.17px 0px rgba(255, 255, 255, 0.4509803922) inset;
  padding: 13px 22px 12px;
  font-size: 12px;
  font-weight: 600;
  font-family: "Manrope", sans-serif;
  line-height: 16.39px;
  letter-spacing: -0.3px;
  color: #f9f9f9;
  height: auto;
  width: auto;
}

.header-phones {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  gap: 5px;
}
.header-phones__icon {
  font-size: 0;
  line-height: normal;
  margin-top: 8px;
}
.header-phones__body a {
  text-decoration: none;
  font-size: 18px;
  font-weight: 500;
  color: rgba(0, 0, 0, 0.9);
  font-family: "Manrope", sans-serif;
  letter-spacing: -0.3px;
  line-height: 24.5px;
}
@media all and (max-width: 640px) {
  .header-phones__body a {
    font-size: 14px;
    line-height: 17px;
  }
}
.header-phones__body .desc {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 5px;
  font-size: 12px;
  font-weight: 300;
  font-family: "Manrope", sans-serif;
  letter-spacing: -0.3px;
  color: rgba(0, 0, 0, 0.6);
}
@media all and (max-width: 640px) {
  .header-phones__body .desc {
    font-size: 10px;
  }
}

@media all and (max-width: 980px) {
  .about {
    padding-top: 40px;
    padding-bottom: 40px;
  }
}
@media all and (max-width: 480px) {
  .about .about_bages {
    margin-top: 75px;
  }
}
.about .pic_box_2 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.about .pic_box_2 .pic-eidt-text {
  padding: 35px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}
@media all and (max-width: 980px) {
  .about .pic_box_2 .pic-eidt-text {
    padding: 20px;
  }
}
.about .pic_box_2 .pic-eidt-text .text {
  font-size: 24px;
  font-weight: normal;
  font-family: "Manrope", sans-serif;
  line-height: 27.6px;
  letter-spacing: -0.3px;
  max-width: 311px;
  color: #fff;
}
@media all and (max-width: 980px) {
  .about .pic_box_2 .pic-eidt-text .text {
    font-size: 18px;
    line-height: 20.7px;
  }
}

.footer_bottom ul li {
  -webkit-box-flex: 1;
      -ms-flex: 1 0 25%;
          flex: 1 0 25%;
}
.footer_bottom ul li:before {
  display: none;
}

/* step-form BEGIN */
.step-form {
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.85)), to(rgba(0, 0, 0, 0.85))), url("../img/step-form-bg.png") 50%/cover no-repeat;
  background: linear-gradient(180deg, rgba(0, 0, 0, 0.85) 0%, rgba(0, 0, 0, 0.85) 100%), url("../img/step-form-bg.png") 50%/cover no-repeat;
  padding-bottom: 117px;
}
@media all and (max-width: 980px) {
  .step-form {
    padding-bottom: 40px;
  }
}
.step-form img {
  max-width: 100%;
}
.step-form .row {
  margin-left: 0;
  margin-right: 0;
}
.step-form .container {
  max-width: 1230px;
}
.step-form__title {
  margin-bottom: 50px;
  font-size: 48px;
  font-weight: 500;
  font-family: serif;
  font-family: "TT Norms";
  color: #fff;
}
@media all and (max-width: 980px) {
  .step-form__title {
    font-size: 1.5rem;
    line-height: 24px;
    letter-spacing: -0.3px;
    margin-bottom: 29px;
  }
}
.step-form__left {
  width: calc(100% - 300px);
  margin-right: 20px;
  padding: 40px;
  padding-left: 67px;
  background: #282828;
  -webkit-box-shadow: 0px 10px 40px 0px rgba(148, 148, 148, 0.1215686275);
          box-shadow: 0px 10px 40px 0px rgba(148, 148, 148, 0.1215686275);
  border-radius: 10px;
}
@media all and (max-width: 1199px) {
  .step-form__left {
    padding: 30px;
  }
}
@media all and (max-width: 980px) {
  .step-form__left {
    width: 100%;
    margin: 0 0 20px;
    padding: 20px;
  }
}
.step-form__right {
  width: 280px;
  padding: 30px 32px;
  background: #282828;
  -webkit-box-shadow: 0px 10px 40px 0px rgba(148, 148, 148, 0.1215686275);
          box-shadow: 0px 10px 40px 0px rgba(148, 148, 148, 0.1215686275);
  border-radius: 10px;
}
@media all and (max-width: 980px) {
  .step-form__right {
    width: 100%;
    padding: 20px;
  }
}
.step-form__progress-bar {
  height: 31px;
  width: 100%;
  background: #575757;
  border: 0.7px solid rgba(255, 255, 255, 0.1490196078);
  border-radius: 6px;
  margin-bottom: 20px;
  position: relative;
}
@media all and (max-width: 980px) {
  .step-form__progress-bar {
    height: 10px;
    border-radius: 2px;
    margin-bottom: 10px;
  }
}
.step-form__progress {
  position: absolute;
  left: 0;
  top: 0;
  bottom: 0;
  z-index: 1;
  background: linear-gradient(87.21deg, #F84F4F 11.21%, #DD0000 97.27%);
  border-radius: 6px 0 0 6px;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
}
@media all and (max-width: 980px) {
  .step-form__progress {
    border-radius: 2px 0 0 2px;
  }
}
.step-form__progress[style="width: 100%;"] {
  border-radius: 6px;
}
@media all and (max-width: 980px) {
  .step-form__progress[style="width: 100%;"] {
    border-radius: 2px;
  }
}
.step-form__steps-block {
  margin-bottom: 44px;
}
.step-form__step {
  display: none;
  min-height: 450px;
}
.step-form__step.active {
  display: block;
}
.step-form__step-number {
  font-family: "Manrope", sans-serif;
  font-size: 1.75rem;
  color: #fff;
  font-weight: 700px;
  line-height: 38.15px;
  margin-bottom: 23px;
  padding-left: 33px;
}
@media all and (max-width: 980px) {
  .step-form__step-number {
    padding-left: 0;
    font-size: 1.125rem;
    margin-bottom: 15px;
    line-height: 22px;
  }
}
.step-form__objects {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 28px;
  padding-left: 23px;
  padding-right: 49px;
}
@media all and (max-width: 1199px) {
  .step-form__objects {
    padding: 0;
    gap: 20px;
  }
}
@media all and (max-width: 767px) {
  .step-form__objects {
    gap: 16px;
  }
}
.step-form__object-item {
  width: calc(33.3% - 18.67px);
  cursor: pointer;
}
@media all and (max-width: 1199px) {
  .step-form__object-item {
    width: calc(33.3% - 13.34px);
  }
}
@media all and (max-width: 767px) {
  .step-form__object-item {
    width: calc(50% - 8px);
  }
}
.step-form__object-item:hover .step-form__object-check {
  background: #DD0000;
}
.step-form__object-image {
  font-size: 0;
  position: relative;
  padding-top: 75%;
  width: 100%;
}
.step-form__object-image img {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  -o-object-fit: contain;
     object-fit: contain;
}
.step-form__object-check {
  position: absolute;
  width: 29px;
  height: 29px;
  border: 3px solid #959595;
  border-radius: 100%;
  z-index: 1;
  cursor: pointer;
  bottom: -14.5px;
  left: calc(50% - 14.5px);
  background: #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}
@media all and (max-width: 980px) {
  .step-form__object-check {
    width: 16px;
    height: 16px;
    left: calc(50% - 8px);
    bottom: -8px;
  }
  .step-form__object-check svg {
    width: 6px;
  }
}
.step-form__object-check.active {
  background: #DD0000;
}
.step-form__object-name {
  margin-top: 22px;
  color: #fff;
  font-weight: 700;
  font-family: "Manrope", sans-serif;
  line-height: 24.16px;
  text-align: center;
  font-size: 1.1rem;
}
@media all and (max-width: 980px) {
  .step-form__object-name {
    font-size: 0.8rem;
    line-height: normal;
    margin-top: 10px;
  }
}
@media all and (max-width: 767px) {
  .step-form__object-name {
    font-size: 10px;
    line-height: 14px;
  }
}
.step-form__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: 20px;
}
@media all and (max-width: 980px) {
  .step-form__list {
    gap: 10px;
  }
}
.step-form__list-item {
  padding: 22px 24px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  cursor: pointer;
  width: calc(50% - 10px);
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 16px;
  border: 1px solid rgba(255, 255, 255, 0.1215686275);
  background: #454545;
  border-radius: 8px;
  transition: all 0.3s ease;
}
@media all and (max-width: 980px) {
  .step-form__list-item {
    width: 100%;
    padding: 10px 20px;
  }
}
.step-form__list-item:hover {
  border-color: #fff;
}
.step-form__list-item.active .check:before {
  opacity: 1;
  visibility: visible;
}
.step-form__list-item .check {
  width: 21px;
  height: 21px;
  min-width: 21px;
  border-radius: 100%;
  background: #282828;
  position: relative;
}
.step-form__list-item .check:before {
  content: "";
  position: absolute;
  width: 10px;
  height: 10px;
  border-radius: 100%;
  background: #DD0000;
  top: calc(50% - 5.5px);
  left: calc(50% - 5px);
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
  opacity: 0;
  visibility: hidden;
}
.step-form__list-item .title {
  font-size: 1.25rem;
  color: #fff;
  font-weight: 700;
  line-height: 27.32px;
  font-family: "Manrope", sans-serif;
  letter-spacing: -0.3px;
}
@media all and (max-width: 980px) {
  .step-form__list-item .title {
    font-size: 0.8rem;
  }
}
.step-form__form {
  max-width: 322px;
  padding-left: 33px;
}
@media all and (max-width: 980px) {
  .step-form__form {
    padding: 0;
  }
}
.step-form__form .form-field {
  position: relative;
  margin-bottom: 20px;
}
.step-form__form .form-field.hidden-form-results {
  display: none;
}
.step-form__form .form-field input[type=text] {
  border: 0.8px solid rgba(255, 255, 255, 0.1019607843);
  outline: none;
  background: #454545;
  border-radius: 8px;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
  padding: 23px;
  padding-right: 15px;
  padding-left: 65px;
  color: #fff;
  font-size: 1.375rem;
  font-weight: 300;
  font-family: "Manrope", sans-serif;
  width: 100%;
  letter-spacing: -0.3px;
}
@media all and (max-width: 980px) {
  .step-form__form .form-field input[type=text] {
    padding: 10px 20px;
    padding-left: 50px;
    font-size: 0.8rem;
  }
}
.step-form__form .form-field input[type=text]:hover {
  border-color: #fff;
}
.step-form__form .form-field input[type=text]::-webkit-input-placeholder {
  color: rgba(255, 255, 255, 0.6);
}
.step-form__form .form-field input[type=text]::-moz-placeholder {
  color: rgba(255, 255, 255, 0.6);
}
.step-form__form .form-field input[type=text]:-ms-input-placeholder {
  color: rgba(255, 255, 255, 0.6);
}
.step-form__form .form-field input[type=text]::-ms-input-placeholder {
  color: rgba(255, 255, 255, 0.6);
}
.step-form__form .form-field input[type=text]::placeholder {
  color: rgba(255, 255, 255, 0.6);
}
.step-form__form .form-field .icon {
  font-size: 0;
  position: absolute;
  top: calc(50% - 11px);
  left: 30px;
  pointer-events: none;
}
@media all and (max-width: 980px) {
  .step-form__form .form-field .icon {
    left: 20px;
  }
}
.step-form__form .form-field button {
  -webkit-box-shadow: 0px 0px 32.49px 0px rgba(255, 255, 255, 0.4509803922) inset;
          box-shadow: 0px 0px 32.49px 0px rgba(255, 255, 255, 0.4509803922) inset;
  background: #DD0000;
  border-radius: 8px;
  display: inline-block;
  text-decoration: none;
  color: #fff;
  padding: 25px;
  font-weight: 600;
  font-size: 1.375rem;
  font-family: "Manrope", sans-serif;
  letter-spacing: -0.3px;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
  will-change: transform;
  line-height: 30px;
  border: none;
  text-align: center;
  width: 100%;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}
@media all and (max-width: 980px) {
  .step-form__form .form-field button {
    padding: 10px 20px;
    font-size: 0.8rem;
    line-height: 1.6;
  }
}
.step-form__form .form-field button:hover {
  -webkit-transform: scale(1.03);
          transform: scale(1.03);
}
.step-form__form .form-desc {
  text-align: center;
  letter-spacing: -0.3px;
  font-weight: normal;
  font-family: "TT Norms";
  font-size: 1rem;
  line-height: 19.2px;
  color: rgba(255, 255, 255, 0.7);
}
.step-form__success {
  color: #fff;
  font-size: 15px;
  font-weight: 500;
  line-height: 1.5;
  display: none;
}
.step-form__bottom {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: 20px;
}
.step-form__hint {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 12px;
}
.step-form__hint-body {
  font-size: 0.875rem;
  color: #fff;
  font-family: "Gilroy", sans-serif;
  font-weight: normal;
}
.step-form__hint-title {
  font-weight: 600;
}
.step-form__btn a {
  -webkit-box-shadow: 0px 0px 32.49px 0px rgba(255, 255, 255, 0.4509803922) inset;
          box-shadow: 0px 0px 32.49px 0px rgba(255, 255, 255, 0.4509803922) inset;
  background: #DD0000;
  border-radius: 8px;
  display: inline-block;
  text-decoration: none;
  color: #fff;
  padding: 16px 20px;
  font-weight: 700;
  font-size: 1.08rem;
  font-family: "Manrope", sans-serif;
  letter-spacing: -0.3px;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
  will-change: transform;
}
@media all and (max-width: 980px) {
  .step-form__btn a {
    font-size: 0.85rem;
    padding: 10px 20px;
  }
}
.step-form__btn a:hover {
  -webkit-transform: scale(1.03);
          transform: scale(1.03);
}
.step-form__person-top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 20px;
  margin-bottom: 25px;
}
@media all and (max-width: 980px) {
  .step-form__person-top {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin-bottom: 15px;
  }
}
.step-form__person-image {
  font-size: 0;
}
.step-form__person-image img {
  border-radius: 8px;
}
@media all and (max-width: 980px) {
  .step-form__person-image img {
    max-width: 200px;
  }
}
@media all and (max-width: 767px) {
  .step-form__person-image img {
    max-width: 78px;
  }
}
.step-form__person-text-wr {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
@media all and (max-width: 980px) {
  .step-form__person-text-wr {
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
  }
}
.step-form__person-name {
  font-size: 1.18rem;
  color: #fff;
  font-weight: 700;
  line-height: 25.44px;
  text-align: center;
  font-family: "Manrope", sans-serif;
}
@media all and (max-width: 980px) {
  .step-form__person-name {
    text-align: left;
  }
}
.step-form__person-position {
  font-size: 0.8rem;
  color: rgba(255, 255, 255, 0.6);
  text-align: center;
  font-weight: 300;
  font-family: "Manrope", sans-serif;
  padding: 0 5px;
}
@media all and (max-width: 980px) {
  .step-form__person-position {
    text-align: left;
    padding: 0;
  }
}
.step-form__person-text {
  padding: 20px;
  padding-right: 18px;
  font-size: 0.8rem;
  color: rgba(255, 255, 255, 0.6);
  font-weight: 400;
  font-family: "Manrope", sans-serif;
  background: #454554;
  margin-bottom: 20px;
  border-radius: 8px;
}
@media all and (max-width: 980px) {
  .step-form__person-text {
    font-size: 12px;
    line-height: 13.8px;
  }
}
.step-form__person-contacts {
  padding: 18px;
  padding-bottom: 22px;
  border-radius: 8px;
  background: #DD0000;
  text-align: center;
  color: #fff;
}
.step-form__person-contacts .title {
  font-size: 12px;
  font-weight: 400;
  font-family: "Manrope", sans-serif;
  text-align: center;
  margin-bottom: 6px;
  line-height: 13.8px;
}
.step-form__person-contacts .phone {
  text-align: center;
}
.step-form__person-contacts .phone a {
  text-decoration: none;
  color: #fff;
  font-weight: 700;
  font-family: "Manrope", sans-serif;
  letter-spacing: -0.3px;
  font-size: 19px;
  line-height: 22.93px;
}

/* step-form END */
/* work-steps BEGIN */
.work-steps {
  padding: 60px 20px 80px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}
@media all and (max-width: 980px) {
  .work-steps {
    padding: 40px 0;
  }
}
.work-steps__inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
.work-steps__title {
  margin-bottom: 50px;
  font-size: 48px;
  font-weight: 500;
  font-family: serif;
  font-family: "TT Norms";
  color: #131313;
}
@media all and (max-width: 980px) {
  .work-steps__title {
    font-size: 1.5rem;
    line-height: 24px;
    letter-spacing: -0.3px;
    margin-bottom: 15px;
  }
}
.work-steps__scroll-hint {
  display: none;
}
@media all and (max-width: 980px) {
  .work-steps__scroll-hint {
    display: block;
    margin-bottom: 15px;
  }
  .work-steps__scroll-hint .item {
    max-width: 100px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    gap: 5px;
    font-size: 12px;
    font-weight: normal;
    color: rgba(8, 11, 15, 0.4);
    line-height: 1.3;
  }
}
.work-steps__body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: 95px 20px;
  position: relative;
  max-width: 1200px;
}
@media all and (max-width: 1400px) {
  .work-steps__body {
    margin-left: auto;
  }
}
@media all and (max-width: 1380px) {
  .work-steps__body {
    max-width: 100%;
    -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
    gap: 20px;
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;
    overflow: auto;
    padding-top: 30px;
  }
}
@media all and (max-width: 980px) {
  .work-steps__body {
    margin: 0;
    margin-left: auto;
    width: calc((100% + 720px) / 2);
  }
}
@media all and (max-width: 767px) {
  .work-steps__body {
    width: calc((100% + 540px) / 2);
  }
}
.work-steps__body::-webkit-scrollbar {
  width: 0;
  height: 0;
}
.work-steps__body:before {
  content: "";
  position: absolute;
  height: 300px;
  right: -50px;
  left: -42px;
  top: 32px;
  background: url("data:image/svg+xml,%3Csvg width='1279' height='250' viewBox='0 0 1279 250' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M94.3307 3H1268C1272.42 3 1276 6.58172 1276 11V156.331C1276 160.749 1272.42 164.331 1268 164.331H11C6.58171 164.331 3 167.912 3 172.331V239C3 243.418 6.58172 247 11 247H877.523' stroke='%23DD0000' stroke-opacity='0.55' stroke-width='5'/%3E%3C/svg%3E%0A") top center no-repeat;
}
@media all and (max-width: 1380px) {
  .work-steps__body:before {
    background-image: url("data:image/svg+xml,%3Csvg width='705' height='66' viewBox='0 0 705 66' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M702 66V13C702 7.47715 697.523 3 692 3L560.5 3M560.5 3L560.5 66M560.5 3L420.5 3M420.5 3V66M420.5 3L280.5 3M280.5 3V66M280.5 3L140.961 3M140.961 3V66M140.961 3L13 3C7.47716 3 3 7.47715 3 13V66' stroke='%23DD0000' stroke-width='5'/%3E%3C/svg%3E%0A");
    left: 37px;
    background-position: top left;
    background-size: contain;
    top: 0px;
    height: 100px;
    right: auto;
    width: 858px;
  }
}
@media all and (max-width: 1199px) {
  .work-steps__body:before {
    right: 50px;
  }
}
@media all and (max-width: 769px) {
  .work-steps__body:before {
    right: auto;
    width: 855px;
    top: -1px;
  }
}
.work-steps__item {
  width: calc(33.3% - 13.34px);
  position: relative;
  z-index: 1;
  padding-right: 40px;
}
@media all and (max-width: 1380px) {
  .work-steps__item {
    width: 150px;
    min-width: 150px;
    padding: 0;
  }
}
@media all and (max-width: 769px) {
  .work-steps__item:first-child {
    min-width: 147px;
  }
  .work-steps__item:nth-child(3) .work-steps__item-title {
    letter-spacing: -0.3px;
    margin-right: -10px;
  }
}
.work-steps__item-icon {
  width: 65px;
  height: 65px;
  border-radius: 8px;
  background: #e9e9e9;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-bottom: 15px;
}
@media all and (max-width: 1380px) {
  .work-steps__item-icon {
    width: 50px;
    height: 50px;
    margin-bottom: 14px;
    border-radius: 9px;
  }
}
.work-steps__item-title {
  font-size: 18px;
  font-weight: 300;
  line-height: 23.4px;
  font-family: "Manrope", sans-serif;
  color: rgba(0, 0, 0, 0.8);
}
@media all and (max-width: 1380px) {
  .work-steps__item-title {
    font-size: 12px;
    line-height: 15.6px;
  }
}
.work-steps__item-title .number {
  font-weight: 800;
  color: #DD0000;
}
/* work-steps END */
/* serts-block BEGIN */
html body .serts-block {
  padding: 50px 0;
}
@media all and (max-width: 980px) {
  html body .serts-block {
    padding: 40px 0;
  }
}
html body .serts-block__header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  gap: 20px;
  margin-bottom: 30px;
}
@media all and (max-width: 980px) {
  html body .serts-block__header {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    gap: 15px;
    margin-bottom: 20px;
  }
}
html body .serts-block__title {
  width: 100%;
  max-width: 710px;
  font-size: 48px;
  line-height: 48px;
  font-weight: 500;
  font-family: serif;
  font-family: "TT Norms";
  color: #131313;
  letter-spacing: -1px;
}
@media all and (max-width: 980px) {
  html body .serts-block__title {
    font-size: 1.5rem;
    line-height: 24px;
    letter-spacing: -0.3px;
  }
}
html body .serts-block__scroll-hint {
  display: none;
  padding: 0;
}
@media all and (max-width: 980px) {
  html body .serts-block__scroll-hint {
    display: block;
  }
  html body .serts-block__scroll-hint .item {
    max-width: 100px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    gap: 5px;
    font-size: 12px;
    font-weight: normal;
    color: rgba(8, 11, 15, 0.4);
    line-height: 1.3;
  }
}
html body .serts-block__arrows {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 10px;
  margin-bottom: 10px;
}
@media all and (max-width: 980px) {
  html body .serts-block__arrows {
    display: none;
  }
}
html body .serts-block__arrows div.swiper-button {
  width: 55x;
  min-width: 55px;
  height: 55px;
  border-radius: 6px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
  cursor: pointer;
  position: static;
  margin: 0;
}
html body .serts-block__arrows div.swiper-button:after {
  display: none;
}
html body .serts-block__arrows div.swiper-button.swiper-button-next {
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
}
html body .serts-block__arrows div.swiper-button:hover {
  background: #DD0000;
}
html body .serts-block__arrows div.swiper-button:hover svg path {
  fill: #fff;
  fill-opacity: 1;
}
html body .serts-block__arrows div.swiper-button svg {
  width: auto;
  height: auto;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}
html body .serts-block__arrows div.swiper-button svg path {
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}
html body .serts-block__body {
  margin-left: auto;
  width: calc((100% + 1210px) / 2);
  padding-left: 20px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}
@media all and (max-width: 1199px) {
  html body .serts-block__body {
    width: calc((100% + 970px) / 2);
  }
}
@media all and (max-width: 991px) {
  html body .serts-block__body {
    width: calc((100% + 730px) / 2);
  }
}
@media all and (max-width: 767px) {
  html body .serts-block__body {
    width: calc((100% + 550px) / 2);
  }
}
@media all and (max-width: 570px) {
  html body .serts-block__body {
    width: 100%;
    padding-left: 15px;
  }
}
html body .serts-block__body .swiper {
  display: block;
}
html body .serts-block__item:hover .serts-block__item-btn {
  opacity: 1;
  visibility: visible;
}
html body .serts-block__item img {
  max-width: 100%;
}
html body .serts-block__item-top {
  position: relative;
  font-size: 0;
  line-height: normal;
  border-radius: 8px;
  overflow: hidden;
  margin-bottom: 20px;
}
@media all and (max-width: 980px) {
  html body .serts-block__item-top {
    margin-bottom: 15px;
  }
}
html body .serts-block__item-top a {
  text-decoration: none;
}
html body .serts-block__item-btn {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background: rgba(221, 0, 0, 0.6980392157);
  -webkit-box-shadow: 0px 10px 40px 0px rgba(148, 148, 148, 0.1215686275);
          box-shadow: 0px 10px 40px 0px rgba(148, 148, 148, 0.1215686275);
  pointer-events: none;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
  opacity: 0;
  visibility: hidden;
}
html body .serts-block__item-btn .btn {
  padding: 0;
  width: 100%;
  max-width: 111px;
  text-align: center;
  font-family: "TT Norms";
  font-size: 18px;
  line-height: 18px;
  line-height: -0.3px;
  color: #fff;
  font-weight: 500;
}
@media all and (max-width: 980px) {
  html body .serts-block__item-btn .btn {
    font-size: 14px;
    line-height: 14px;
  }
}
html body .serts-block__item-btn .btn .title {
  display: inline-block;
  margin-top: 5px;
}
html body .serts-block__item-title {
  font-family: "TT Norms";
  font-size: 18px;
  line-height: 18px;
  line-height: -0.3px;
  color: #131313;
  font-weight: 500;
}
@media all and (max-width: 980px) {
  html body .serts-block__item-title {
    font-size: 14px;
    line-height: 14px;
  }
}
html body .serts-block__item-desc {
  margin-top: 12px;
  font-size: 14px;
  line-height: 14px;
  font-family: "TT Norms";
  font-weight: normal;
  letter-spacing: -0.3px;
  color: #757575;
}
@media all and (max-width: 980px) {
  html body .serts-block__item-desc {
    font-size: 12px;
    line-height: 12px;
  }
}

/* serts-block END */
/* partners-block BEGIN */
.partners-block {
  padding: 50px 0;
  position: relative;
}
@media all and (max-width: 980px) {
  .partners-block {
    padding: 30px 0;
  }
}
.partners-block:before {
  content: "";
  width: 1244px;
  height: 499px;
  position: absolute;
  top: 95%;
  right: 0;
  background: url("../img/setka.png") top -277px center no-repeat;
}
@media all and (max-width: 1280px) {
  .partners-block:before {
    display: none;
  }
}
.partners-block .swiper {
  display: block;
}
.partners-block__header {
  margin-bottom: 25px;
}
.partners-block__title {
  margin-bottom: 40px;
  font-size: 48px;
  line-height: 48px;
  font-weight: 500;
  font-family: serif;
  font-family: "TT Norms";
  color: #131313;
}
@media all and (max-width: 980px) {
  .partners-block__title {
    font-size: 1.5rem;
    line-height: 24px;
    letter-spacing: -0.3px;
    margin-bottom: 20px;
    padding-right: 30px;
  }
}
.partners-block__form form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: 20px;
}
@media all and (max-width: 980px) {
  .partners-block__form form {
    gap: 13px;
  }
}
.partners-block__form form .form-field {
  position: relative;
  width: 100%;
  max-width: 289px;
}
@media all and (max-width: 980px) {
  .partners-block__form form .form-field {
    max-width: 250px;
  }
}
.partners-block__form form .form-field.hidden-form-results {
  display: none;
}
.partners-block__form form .form-field input[type=text] {
  border: 0.8px solid rgba(255, 255, 255, 0.1019607843);
  outline: none;
  background: #fafafa;
  border-radius: 8px;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
  padding: 23px;
  padding-right: 15px;
  padding-left: 65px;
  color: #000;
  font-size: 1.375rem;
  font-weight: 300;
  font-family: "Manrope", sans-serif;
  width: 100%;
  letter-spacing: -0.3px;
}
@media all and (max-width: 980px) {
  .partners-block__form form .form-field input[type=text] {
    padding: 15px 40px;
    padding-right: 15px;
    font-size: 14px;
    line-height: 17px;
    border-radius: 5px;
  }
}
.partners-block__form form .form-field input[type=text]:hover {
  border-color: #1e1e1e;
}
.partners-block__form form .form-field input[type=text]::-webkit-input-placeholder {
  color: rgba(30, 30, 30, 0.4);
}
.partners-block__form form .form-field input[type=text]::-moz-placeholder {
  color: rgba(30, 30, 30, 0.4);
}
.partners-block__form form .form-field input[type=text]:-ms-input-placeholder {
  color: rgba(30, 30, 30, 0.4);
}
.partners-block__form form .form-field input[type=text]::-ms-input-placeholder {
  color: rgba(30, 30, 30, 0.4);
}
.partners-block__form form .form-field input[type=text]::placeholder {
  color: rgba(30, 30, 30, 0.4);
}
.partners-block__form form .form-field .icon {
  font-size: 0;
  position: absolute;
  top: calc(50% - 11px);
  left: 30px;
  pointer-events: none;
}
@media all and (max-width: 980px) {
  .partners-block__form form .form-field .icon {
    left: 20px;
    top: calc(50% - 9px);
  }
}
.partners-block__form form .form-field .icon svg path {
  fill: rgba(0, 0, 0, 0.1019607843);
  fill-opacity: 1;
}
@media all and (max-width: 980px) {
  .partners-block__form form .form-field .icon svg {
    width: 10px;
  }
}
.partners-block__form form .form-field button {
  -webkit-box-shadow: 0px 0px 32.49px 0px rgba(255, 255, 255, 0.4509803922) inset;
          box-shadow: 0px 0px 32.49px 0px rgba(255, 255, 255, 0.4509803922) inset;
  background: #DD0000;
  border-radius: 8px;
  display: inline-block;
  text-decoration: none;
  color: #fff;
  padding: 25px;
  font-weight: 600;
  font-size: 1.375rem;
  font-family: "Manrope", sans-serif;
  letter-spacing: -0.3px;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
  will-change: transform;
  line-height: 30px;
  border: none;
  text-align: center;
  width: 100%;
  -webkit-box-shadow: 0px 14.95px 59.81px 0px rgba(221, 3, 3, 0.2509803922), 0px 0px 46.42px 0px rgba(255, 255, 255, 0.4509803922) inset;
          box-shadow: 0px 14.95px 59.81px 0px rgba(221, 3, 3, 0.2509803922), 0px 0px 46.42px 0px rgba(255, 255, 255, 0.4509803922) inset;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  max-width: 250px;
}
@media all and (max-width: 980px) {
  .partners-block__form form .form-field button {
    padding: 15px;
    font-size: 14px;
    line-height: 18.51px;
    border-radius: 5px;
  }
}
.partners-block__form form .form-field button:hover {
  -webkit-transform: scale(1.03);
          transform: scale(1.03);
}
.partners-block__body .swiper-wrapper {
  -webkit-transition-timing-function: linear;
          transition-timing-function: linear;
}
.partners-block__item {
  width: 150px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: auto;
}
@media all and (max-width: 980px) {
  .partners-block__item {
    width: 92px;
    height: 69px;
  }
}
.partners-block__item img {
  max-width: 100%;
}
@media all and (max-width: 980px) {
  .partners-block__item img {
    width: 100%;
    height: 100%;
    -o-object-fit: cover;
       object-fit: cover;
  }
}

/* partners-block END */
/* form-block BEGIN */
.form-block {
  padding: 50px 0;
  position: relative;
}
@media all and (max-width: 980px) {
  .form-block {
    padding: 20px 0;
  }
}
.form-block:before {
  content: "";
  left: 0;
  top: -140px;
  width: 300px;
  height: 829px;
  position: absolute;
  background: url("data:image/svg+xml,%3Csvg width='829' height='829' viewBox='0 0 829 829' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Ccircle cx='414.5' cy='414.5' r='384.5' stroke='%23DB0000' stroke-width='60'/%3E%3Ccircle cx='414.5' cy='414.5' r='384.5' stroke='%23DB0000' stroke-width='60'/%3E%3C/svg%3E%0A") center right no-repeat;
}
@media all and (max-width: 1200px) {
  .form-block:before {
    display: none;
  }
}
.form-block__body {
  border-radius: 8px;
  overflow: hidden;
  background: #f6f6f6;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  max-width: 1200px;
  margin: auto;
  position: relative;
}
.form-block__left {
  padding: 60px;
  padding-right: 48px;
  width: 59%;
}
@media all and (max-width: 1199px) {
  .form-block__left {
    padding: 40px;
    width: 100%;
  }
}
@media all and (max-width: 980px) {
  .form-block__left {
    padding: 20px;
  }
}
.form-block__title {
  margin-bottom: 20px;
  font-size: 48px;
  line-height: 48px;
  font-weight: 500;
  font-family: serif;
  font-family: "TT Norms";
  color: #131313;
}
@media all and (max-width: 980px) {
  .form-block__title {
    font-size: 1.5rem;
    line-height: 24px;
    letter-spacing: -0.3px;
    margin-bottom: 10px;
  }
}
.form-block__desc {
  font-family: "TT Norms";
  font-weight: normal;
  font-size: 22px;
  line-height: 22px;
  letter-spacing: -0.3px;
  color: rgba(19, 19, 19, 0.7);
}
@media all and (max-width: 980px) {
  .form-block__desc {
    font-size: 1rem;
    line-height: 19.2px;
  }
}
.form-block__form {
  margin-top: 30px;
}
@media all and (max-width: 980px) {
  .form-block__form {
    margin-top: 19px;
  }
}
.form-block__form form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: 20px;
}
@media all and (max-width: 767px) {
  .form-block__form form {
    gap: 13px;
  }
}
.form-block__form form .form-field {
  position: relative;
  width: calc(50% - 10px);
}
@media all and (max-width: 767px) {
  .form-block__form form .form-field {
    width: 100%;
  }
}
.form-block__form form .form-field.hidden-form-results {
  display: none;
}
.form-block__form form .form-field:has(.form-desc) {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.form-block__form form .form-field .form-desc {
  letter-spacing: -0.3px;
  font-weight: normal;
  font-family: "TT Norms";
  font-size: 1rem;
  line-height: 17.6px;
  color: rgba(19, 19, 19, 0.7);
}
.form-block__form form .form-field input[type=text] {
  border: 0.8px solid rgba(255, 255, 255, 0.1019607843);
  outline: none;
  background: #fafafa;
  border-radius: 8px;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
  padding: 23px;
  padding-right: 15px;
  padding-left: 65px;
  color: #000;
  font-size: 1.375rem;
  font-weight: 300;
  font-family: "Manrope", sans-serif;
  width: 100%;
  letter-spacing: -0.3px;
}
@media all and (max-width: 980px) {
  .form-block__form form .form-field input[type=text] {
    padding: 15px 40px;
    padding-right: 15px;
    font-size: 14px;
    line-height: 17px;
    border-radius: 5px;
  }
}
.form-block__form form .form-field input[type=text]:hover {
  border-color: #1e1e1e;
}
.form-block__form form .form-field input[type=text]::-webkit-input-placeholder {
  color: rgba(30, 30, 30, 0.4);
}
.form-block__form form .form-field input[type=text]::-moz-placeholder {
  color: rgba(30, 30, 30, 0.4);
}
.form-block__form form .form-field input[type=text]:-ms-input-placeholder {
  color: rgba(30, 30, 30, 0.4);
}
.form-block__form form .form-field input[type=text]::-ms-input-placeholder {
  color: rgba(30, 30, 30, 0.4);
}
.form-block__form form .form-field input[type=text]::placeholder {
  color: rgba(30, 30, 30, 0.4);
}
.form-block__form form .form-field .icon {
  font-size: 0;
  position: absolute;
  top: calc(50% - 11px);
  left: 30px;
  pointer-events: none;
}
@media all and (max-width: 980px) {
  .form-block__form form .form-field .icon {
    left: 20px;
    top: calc(50% - 9px);
  }
}
.form-block__form form .form-field .icon svg path {
  fill: rgba(0, 0, 0, 0.1019607843);
  fill-opacity: 1;
}
@media all and (max-width: 980px) {
  .form-block__form form .form-field .icon svg {
    width: 10px;
  }
}
.form-block__form form .form-field button {
  -webkit-box-shadow: 0px 0px 32.49px 0px rgba(255, 255, 255, 0.4509803922) inset;
          box-shadow: 0px 0px 32.49px 0px rgba(255, 255, 255, 0.4509803922) inset;
  background: #DD0000;
  border-radius: 8px;
  display: inline-block;
  text-decoration: none;
  color: #fff;
  padding: 25px;
  font-weight: 600;
  font-size: 1.375rem;
  font-family: "Manrope", sans-serif;
  letter-spacing: -0.3px;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
  will-change: transform;
  line-height: 30px;
  border: none;
  text-align: center;
  width: 100%;
  -webkit-box-shadow: 0px 14.95px 59.81px 0px rgba(221, 3, 3, 0.2509803922), 0px 0px 46.42px 0px rgba(255, 255, 255, 0.4509803922) inset;
          box-shadow: 0px 14.95px 59.81px 0px rgba(221, 3, 3, 0.2509803922), 0px 0px 46.42px 0px rgba(255, 255, 255, 0.4509803922) inset;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}
@media all and (max-width: 980px) {
  .form-block__form form .form-field button {
    padding: 15px;
    font-size: 14px;
    line-height: 18.51px;
    border-radius: 5px;
  }
}
.form-block__form form .form-field button:hover {
  -webkit-transform: scale(1.03);
          transform: scale(1.03);
}
.form-block__success {
  color: #131313;
  font-size: 15px;
  font-weight: 500;
  line-height: 1.5;
  display: none;
}
.form-block__right {
  width: 41%;
  margin: -30px 0;
}
@media all and (max-width: 1199px) {
  .form-block__right {
    display: none;
  }
}
.form-block__images {
  font-size: 0;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 15px 1fr 15px 1fr;
  grid-template-columns: repeat(3, 1fr);
  -ms-grid-rows: 1fr 15px 1fr;
  grid-template-rows: repeat(2, 1fr);
  grid-column-gap: 15px;
  grid-row-gap: 15px;
}
.form-block__images > *:nth-child(1) {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
}
.form-block__images > *:nth-child(2) {
  -ms-grid-row: 1;
  -ms-grid-column: 3;
}
.form-block__images > *:nth-child(3) {
  -ms-grid-row: 1;
  -ms-grid-column: 5;
}
.form-block__images > *:nth-child(4) {
  -ms-grid-row: 3;
  -ms-grid-column: 1;
}
.form-block__images > *:nth-child(5) {
  -ms-grid-row: 3;
  -ms-grid-column: 3;
}
.form-block__images > *:nth-child(6) {
  -ms-grid-row: 3;
  -ms-grid-column: 5;
}
.form-block__image {
  width: 180px;
  min-width: 180px;
}
.form-block__image img {
  border-radius: 8px;
}

/* form-block END */
/* contacts BEGIN */
@media all and (max-width: 980px) {
  .contacts {
    padding-bottom: 25px;
  }
}
.contacts__title {
  margin-bottom: 20px;
  font-size: 48px;
  line-height: 48px;
  font-weight: 500;
  font-family: serif;
  font-family: "TT Norms";
  color: #131313;
}
@media all and (max-width: 1199px) {
  .contacts__title {
    font-size: 1.5rem;
    line-height: 24px;
    letter-spacing: -0.3px;
    margin-bottom: 12px;
  }
}
.contacts__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: 25px 30px;
}
@media all and (max-width: 640px) {
  .contacts__list {
    gap: 20px;
    position: relative;
  }
}
.contacts__item {
  width: calc(50% - 15px);
  -webkit-box-flex: 1;
      -ms-flex: auto;
          flex: auto;
}
@media all and (max-width: 640px) {
  .contacts__item {
    width: 100%;
  }
}
.contacts__item-title {
  font-family: "TT Norms", sans-serif;
  font-size: 1rem;
  line-height: 1rem;
  color: rgba(19, 19, 19, 0.7);
  letter-spacing: -0.3px;
  margin-bottom: 15px;
}
@media all and (max-width: 1199px) {
  .contacts__item-title {
    font-size: 12.5px;
    line-height: 12.5px;
    margin-bottom: 10px;
  }
}
.contacts__item-body .desc {
  font-size: 13.5px;
  line-height: 18.3px;
  font-family: "Manrope", sans-serif;
  letter-spacing: -0.3px;
  color: rgba(0, 0, 0, 0.6);
  font-weight: 300;
}
@media all and (max-width: 1199px) {
  .contacts__item-body .desc {
    font-size: 10px;
  }
}
.contacts__item-body a:hover {
  color: #000;
}
.contacts__item-body .header-socials {
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  margin-top: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
@media all and (max-width: 640px) {
  .contacts__item-body .header-socials {
    position: absolute;
    top: 0;
    right: 0;
    margin: 0;
  }
}
@media all and (max-width: 640px) {
  .contacts__item-body .header-socials__item {
    width: 30px;
    height: 30px;
    min-width: 30px;
  }
  .contacts__item-body .header-socials__item svg {
    width: 15px;
  }
}
.contacts__item-body .header-socials__item:not(:hover) {
  background: #f5f5f5;
}
.contacts__item-text {
  color: rgba(0, 0, 0, 0.9);
  font-size: 20px;
  line-height: 27.5px;
  letter-spacing: -0.3px;
  font-family: "Manrope", sans-serif;
  font-weight: 500;
}
@media all and (max-width: 1199px) {
  .contacts__item-text {
    font-size: 1rem;
    line-height: 22px;
  }
}
.contacts__phone-item, .contacts__item-address, .contacts__item-mail {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 5px;
}
.contacts__phone-item:not(:first-child) {
  margin-top: 15px;
}
@media all and (max-width: 1199px) {
  .contacts__phone-item:not(:first-child) {
    margin-top: 10px;
  }
}
@media all and (max-width: 1199px) {
  .contacts__item-icon {
    font-size: 0;
    line-height: normal;
    margin-top: 6px;
  }
}
@media all and (max-width: 991px) {
  .contacts .map-block {
    padding: 0 !important;
    margin-bottom: 20px;
  }
  .contacts .map-block iframe {
    height: 230px;
  }
}
.contacts .map {
  border-radius: 8px;
}
.contacts .order_call {
  border-radius: 8px;
}
@media all and (max-width: 1199px) {
  .contacts .order_call {
    height: auto;
  }
}
.contacts .order_call_title {
  font-size: 30px;
  line-height: 30px;
  font-weight: 500;
  letter-spacing: -0.3px;
}
@media all and (max-width: 1199px) {
  .contacts .order_call_title {
    font-size: 18px;
    line-height: 18px;
    margin-bottom: 10px;
  }
}
.contacts .order_call_a {
  border-radius: 8px;
  -webkit-box-shadow: 0px 7.14px 28.56px 0px rgba(221, 3, 3, 0.2509803922), 0px 0px 22.17px 0px rgba(255, 255, 255, 0.4509803922) inset;
          box-shadow: 0px 7.14px 28.56px 0px rgba(221, 3, 3, 0.2509803922), 0px 0px 22.17px 0px rgba(255, 255, 255, 0.4509803922) inset;
  padding: 15.5px 45px;
  font-size: 15px;
  font-weight: 600;
  font-family: "Manrope", sans-serif;
  line-height: 20.28px;
  letter-spacing: -0.4px;
  color: #f9f9f9;
  height: auto;
  width: auto;
  display: inline-block;
  margin-top: 12px;
}
@media all and (max-width: 1199px) {
  .contacts .order_call_a {
    margin: 0;
    border-radius: 4px;
    padding: 11px 30px;
    font-size: 10.5px;
    line-height: 14.5px;
  }
}
.contacts .order_call p {
  font-size: 18px;
  line-height: 18px;
  letter-spacing: -0.3px;
  color: #757575;
}
@media all and (max-width: 1199px) {
  .contacts .order_call p {
    font-size: 14px;
    line-height: 14px;
  }
}
@media all and (max-width: 1199px) {
  .contacts .consult-block {
    margin-top: 25px !important;
  }
}

/* contacts END*/
/* site-footer BEGIN */
.site-footer {
  padding-top: 30px;
  background: #131313;
}
.site-footer__contacts-wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}
@media all and (max-width: 980px) {
  .site-footer__contacts-wrap {
    display: block;
  }
}
.site-footer__contacts-item {
  margin-bottom: 14px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: 23px;
}
.site-footer__contacts-item .header-socials {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
@media all and (max-width: 980px) {
  .site-footer__contacts-item .header-socials__item {
    width: 32px;
    height: 32px;
    min-width: 32px;
  }
  .site-footer__contacts-item .header-socials__item svg {
    width: 15px;
  }
}
.site-footer__contacts-phone {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 5px;
}
.site-footer__contacts-body .desc {
  font-size: 12px;
  line-height: 16.39px;
  font-family: "Manrope", sans-serif;
  letter-spacing: -0.3px;
  color: rgba(255, 255, 255, 0.6);
  font-weight: 300;
}
@media all and (max-width: 980px) {
  .site-footer__contacts-body .desc {
    font-size: 10px;
    line-height: 13px;
  }
}
.site-footer__contacts-icon {
  font-size: 0;
  line-height: normal;
  margin-top: 8px;
}
.site-footer__contacts-text {
  font-family: "Manrope", sans-serif;
  font-weight: 500;
  font-size: 18px;
  line-height: 24.59px;
  letter-spacing: -0.3px;
  color: rgba(255, 255, 255, 0.9);
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
  text-decoration: none;
}
@media all and (max-width: 980px) {
  .site-footer__contacts-text {
    font-size: 14.5px;
    line-height: 19.5px;
  }
}
.site-footer__contacts-text:hover {
  color: #fff;
  text-decoration: underline;
}
.site-footer .footer_col_title {
  margin-bottom: 20px;
  color: #fff;
  font-weight: 500;
  font-size: 24px;
  line-height: 24px;
  letter-spacing: -0.3px;
}
@media all and (max-width: 980px) {
  .site-footer .footer_col_title {
    margin-bottom: 13px;
    font-size: 15px;
    line-height: 15px;
  }
}
.site-footer .footer_menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: 10px 20px;
  line-height: normal;
}
@media all and (max-width: 980px) {
  .site-footer .footer_menu {
    margin-bottom: 20px;
    gap: 6px 10px;
  }
}
.site-footer .footer_menu li {
  width: calc(50% - 10px);
  margin: 0;
  font-size: 0;
}
@media all and (max-width: 980px) {
  .site-footer .footer_menu li {
    width: calc(50% - 5px);
  }
}
.site-footer .footer_menu li a {
  font-size: 20px;
  line-height: 20px;
  font-weight: normal;
  letter-spacing: -0.3px;
  color: rgba(220, 220, 220, 0.8);
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
  text-decoration: none;
}
@media all and (max-width: 980px) {
  .site-footer .footer_menu li a {
    font-size: 12px;
    line-height: 12px;
  }
}
.site-footer .footer_menu li a:hover {
  color: #fff;
}
.site-footer .footer_bottom {
  border: none;
  padding: 27px 0;
  margin-top: 25px;
}
@media all and (max-width: 640px) {
  .site-footer .footer_bottom {
    padding: 20px 0 27px;
    margin: 0;
  }
  .site-footer .footer_bottom ul {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    gap: 5px;
  }
}
.site-footer .footer_bottom li, .site-footer .footer_bottom a {
  color: #757575;
  font-size: 20px;
  line-height: 20px;
  font-weight: normal;
  letter-spacing: -0.3px;
}
@media all and (max-width: 980px) {
  .site-footer .footer_bottom li, .site-footer .footer_bottom a {
    font-size: 12px;
    line-height: 12px;
  }
}
.site-footer .footer_bottom a {
  text-decoration: none;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}
.site-footer .footer_bottom a:hover {
  color: #fff;
}

/* site-footer END */
<<<<<<< HEAD
/* main-banner-block BEGIN */
.main-banner-block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.main-banner-block__body {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.main-banner-block__title {
  margin: 0 0 30px;
  text-align: center;
  font-size: 48px;
  font-family: "Manrope", sans-serif;
  font-weight: bold;
  color: #000;
  line-height: 120%;
}
@media all and (max-width: 550px) {
  .main-banner-block__title {
    font-size: 34px;
  }
}
.main-banner-block__title span {
  color: #DD0000;
}
.main-banner-block__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: 30px;
  width: 100%;
  max-width: 630px;
  margin: 0 auto 30px;
}
@media all and (max-width: 550px) {
  .main-banner-block__list {
    gap: 10px;
  }
}
.main-banner-block__item {
  width: calc(50% - 15px);
  padding: 20px;
  background: #fff;
  border-radius: 10px;
  border: 1px solid #DD0000;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 15px;
}
@media all and (max-width: 550px) {
  .main-banner-block__item {
    width: 100%;
    padding: 10px;
  }
}
.main-banner-block__item-icon {
  font-size: 0;
  line-height: normal;
  width: 70px;
  height: 70px;
  min-width: 70px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
@media all and (max-width: 550px) {
  .main-banner-block__item-icon {
    width: 50px;
    height: 50px;
    min-width: 50px;
  }
}
.main-banner-block__item-icon img {
  max-width: 100%;
}
.main-banner-block__item-title {
  width: calc(100% - 85px);
  font-size: 18px;
  font-weight: bold;
  color: #000;
  font-family: "Manrope", sans-serif;
  line-height: 120%;
}
@media all and (max-width: 550px) {
  .main-banner-block__item-title {
    font-size: 16px;
  }
}
.main-banner-block__item-title b {
  font-size: 22px;
}
@media all and (max-width: 550px) {
  .main-banner-block__item-title b {
    font-size: 18px;
  }
}
.main-banner-block__item-title .desc {
  font-size: 15px;
}
@media all and (max-width: 550px) {
  .main-banner-block__item-title .desc {
    font-size: 13px;
  }
}
.main-banner-block__desc {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 15px;
}
.main-banner-block__desc-icon {
  width: 40px;
  height: 40px;
  min-width: 40px;
  font-size: 0;
  line-height: normal;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
@media all and (max-width: 550px) {
  .main-banner-block__desc-icon {
    width: 30px;
    height: 30px;
    min-width: 30px;
  }
}
.main-banner-block__desc-text {
  font-size: 28px;
  font-weight: bold;
  color: #000;
  font-family: "Manrope", sans-serif;
  line-height: 120%;
}
@media all and (max-width: 550px) {
  .main-banner-block__desc-text {
    font-size: 18px;
  }
}
.main-banner-block .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.main-banner-block .container .row {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0;
}

/* main-banner-block END */
=======
>>>>>>> 5415b02c4197c19a9c36dc219b7e451ca480f8c2
.service_row > div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.service_box {
  height: auto;
}
.service_box:hover .order_bt {
  opacity: 1;
  visibility: visible;
}
.service_box .order_bt {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  opacity: 0;
  visibility: hidden;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
  margin-top: 10px;
  position: relative;
  top: auto;
  bottom: auto;
}
@media all and (max-width: 980px) {
  .service_box .order_bt {
    opacity: 1;
    visibility: visible;
  }
}

@media all and (max-width: 480px) {
  .modal-form-title {
    font-size: 28px;
    line-height: normal;
  }
  .modal-title {
    padding: 35px 20px;
  }
  .modal-title .phone {
    font-size: 1rem;
    line-height: normal;
  }
  .modal-title .horus {
    font-size: 12px;
    line-height: normal;
  }
  .modal-title a img {
    max-width: 30px;
  }
}